#root {
  max-width: 100%;
  margin: 0 auto;
}

.top{
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 100%;
}

.top-title{
  text-align: left;
}

.top-buttons{
  text-align: right;
}

.mid{
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 100%;
}

.mid-left{
  text-align:left;
}

.mid-right{
  text-align:right
}

.bottom{
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 100%;
}