#root {
  max-width: 100%;
  margin: 0 auto;
}

.top{
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 100%;
}

.top-title{
  text-align: left;
}

.top-buttons{
  text-align: right;
}

.mid{
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 100%;
}

.mid-left{
  text-align:left;
}

.mid-right{
  text-align:right
}

.bottom{
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 100%;
}

.canvas-grid{
    width: 340px; /*To be recalculated later on*/
    height: 340px; /*To be recalculated later on*/
    border: 5px solid black;
    background-color: gray;
    display: flex;
    flex-wrap: wrap;
}

.canvas-item{
  width: 32px;
  height: 32px;
  background-color:white;
  /*borders to be removed*/
  border:1px solid black;
  display: flex;
}

.spritesheet-container{
  width: fit-content;
}

.spritesheet-image{
  width: 704px;
  height: 384px;
}